/* latin */
@font-face { /*The @font-face ruleset, defining a single font for use elsewhere in your page’s CSS*/
  font-family: 'Roboto'; /*Declares the name for this font*/
  font-style: normal;
  font-weight: 300; /*Defines which font style and font weight this @font-face applies to*/
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2'); /*Location(s) where the font file can be found*/  
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; /*The unicode character ranges this @font-face applies to*/  
}
/* latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-weight: 800;
  src: local('Sansita ExtraBold'), local('Sansita-ExtraBold'), url(https://fonts.gstatic.com/s/sansita/v1/M0VOVsEPZWhxh-yeRPQtpQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
